{% extends 'user.html' %}
{% block content %}

<main>
    <div>
        <!-- <h2 style="color: rgb(123, 210, 213);">CREAR NUEVO USUARIO</h2> -->
        
        <form method="post">
            {% csrf_token %}
            <div>{{form.as_div}}</div>
            <input type="submit" value="{{ tipo }}" />
        </form>
        <br>
        <a href="{% url 'users:all' %}">
            <button>
                Volvamos al Inicio
            </button>
        </a>
    </div>
</main>
{% endblock %}