{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - CryptoPlus</title>
    <link rel="stylesheet" href="{% static './css/styles.css'%}">
    <link rel="icon" href="{% static './images/favicon.png'%}">
</head>

<body>

    <header>
        <div class="topnav" id="myTopnav">
            <div id="nav">
                <a href="{% url 'index' %}">Criptomonedas</a>
                <a href="{% url 'pricesHistoric' %}" >Historico</a>
                <a href="{% url 'yield' %}" >Calculadora Rendimientos</a>
                <a href="{% url 'contacto' %}" class="active">Contacto</a>
                <a href="{% url 'users:all' %}">Usuarios</a>
            </div>

            <div id="icono-nav" onclick="responsiveMenu()">
                <img class="icon" height="20" src="{% static './svg/bars-solid.svg'%}" alt="asd">
            </div>
        </div>
    </header>

    <main>
        <section class="container">
            <p class="p-form">Por favor, completa el formulario siguiente para ponerte en contacto con nosotros</p>
            <br>
            <form id="form" action="https://formspree.io/f/mzboozkl" method="POST">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre">

                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Correo Electrónico">

                <label for="asunto">Asunto:</label>
                <input type="text" id="asunto" name="asunto" placeholder="Asunto">

                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" rows="3"></textarea>

                <div id="submitWarning">
                    <input type="submit" value="Enviar">
                    <p class="warnings" id="warnings"></p>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-item">
                <div class="footer-links">
                    <h4>Mapa del Sitio</h4>
                    <ul>
                        <li><a href="{{ request.path }}" class="active">Criptomonedas</a></li>
                        <li><a href="{% url 'pricesHistoric' %}">Histórico</a></li>
                        <li><a href="{% url 'yield' %}">Calculadora de Rendimiento</a></li>
                        <li><a href="{% url 'contacto' %}">Contacto</a></li>
                        <li><a href="{% url 'users:all' %}">Usuarios</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-item"></div>
            <div class="footer-item">
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-link">
                        <ul>
                            <li>
                                <a href="https://github.com/ligarcia7/CryptoPlus" target="_blank">
                                    <img src="{% static './svg/github.svg' %}" alt="github icon" height="20">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com" target="_blank">
                                    <img src="{% static './svg/linkedin.svg' %}" alt="github icon" height="20">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static './js/responsive.js'%}"></script>
    <script src="{% static './js/yield.js'%}"></script>

</body>

</html>