{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoPlus</title>
    <link rel="stylesheet" href="{% static './css/styles.css' %}">
    <link rel="icon" href="{% static './images/favicon.png' %}">
    <script src="{% static './js/actions.js' %}" type="module"></script>
</head>

<body>

    <header>
        <div class="topnav" id="myTopnav">
            <div id="nav">
                <a href="{% url 'index' %}" {% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>Criptomonedas</a>
                <a href="{% url 'pricesHistoric' %}" {% if request.resolver_match.url_name == 'pricesHistoric' %}class="active"{% endif %}>Historico</a>
                <a href="{% url 'yield' %}" {% if request.resolver_match.url_name == 'yield' %}class="active"{% endif %}>Calculadora Rendimientos</a>
                <a href="{% url 'contacto' %}" {% if request.resolver_match.url_name == 'contacto' %}class="active"{% endif %}>Contacto</a>
                <a href="{% url 'users:all' %}" {% if request.resolver_match.url_name != 'index' %}class="active"{% endif %}>Usuarios</a>
            </div>


            
            <div onclick="responsiveMenu()">
                <img class="icon" height="20" src="{% static './svg/bars-solid.svg'%}" alt="asd">
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}
    
    {% if not hide_main %}
    <main id="main">
    </main>
    {% endif %}

    <footer>
        <div class="footer-container">
            <div class="footer-item">
                <div class="footer-links">
                    <h4>Mapa del Sitio</h4>
                    <ul>

                        <li><a href="{% url 'index' %}">Criptomonedas</a></li>
                        <li><a href="{% url 'pricesHistoric' %}">Histórico</a></li>
                        <li><a href="{% url 'yield' %}">Calculadora de Rendimiento</a></li>
                        <li><a href="{% url 'contacto' %}">Contacto</a></li>
                        <li><a href="{% url 'users:all' %}">Usuarios</a></li>

                    </ul>
                </div>
            </div>
            <div class="footer-item"></div>
            <div class="footer-item">
                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-link">
                        <ul>
                            <li>
                                <a href="https://github.com/pablolospe/django.git" target="_blank">
                                    <img src="{% static './svg/github.svg'%}" alt="github icon" height="20">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com" target="_blank">
                                    <img src="{% static './svg/linkedin.svg'%}" alt="linkedin icon" height="20">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static './js/responsive.js'%}"></script>
</body>

</html>