
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(./header.style.css);
@import url(./footer.style.css);
@import url(./form.style.css);
@import url(./button.style.css);
@import url(./yield.style.css);
@import url(./pricesHistoric.style.css);

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

body {
    background-image: url('../images/crypto-background.webp');
    background-color: rgba(251, 227, 232, 0.2);
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    color: #5cbdb9;
    }


main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(251, 227, 232, 0.1);
    padding: 1rem;
    }

.tradingview-widget-container iframe {
  min-height: 50vh;
}

.price-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 15vw;
    min-width: 12rem;
    background-color: rgba(255, 250, 250, 0.9);
    border-color: #5cbdb9;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 1rem;
    margin: 2vw;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.coin-logo{
  border-radius: 100rem;
  /* max-height: 4rem; */
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.price-container::after {
    content: '';
    position: absolute;
    z-index: -1;
    opacity: 0;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
  }

/* Scale up the box */
.price-container:hover {
    transform: scale(1.1, 1.1);
  }

  /* Fade in the pseudo-element with the bigger shadow */
  .price-container:hover::after {
    opacity: 1;
  }

  /* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ */

p {
    max-width: 100vw;
}

@media screen and (max-width:720px) {
  main{
    display: flex;
    flex-direction: column;
    align-content: center;

  }
}

@media screen and (min-width:720px) {
  main{
    display: flex;
    flex-direction: row;
    align-content: center;
  }
}